[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/tinyGLTF"]
	path = thirdparty/tinyGLTF
	url = https://github.com/syoyo/tinygltf.git
